@import '../../variables.scss';

.header {
  border-bottom: 1px solid $dark-gray;
  max-width: 25rem;
  margin: 0 auto 2rem;
}

.title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
}

.footer {
  border-top: 1px solid $dark-gray;
  padding-top: 2rem;
  max-width: 25rem;
  margin: 0 auto;
}

.restartButton {
  display: block;
  padding: 0.5rem 1rem;
  background-color: $isabelline;
  margin: 0 auto;
  border-radius: 0.5rem;
  color: $yale-blue;
  border: 1px solid $yale-blue;
  width: max-content;
  font-weight: 600;
  height: 3rem;
}

.restartButton:hover {
  opacity: 0.9;
}